<div class="col-sm-3">
    <div class="card"  (click)= "statusToggle()" [class.completed]="task.completed">
        <div class="card-block" >
            <p>{{ task.content }}</p>
        </div>
        <div class="card-footer">
            <p *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i>completed</p>
            <p *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i>not completed</p>
        </div>
    </div>
</div>